.features__feature-wrapper {
    display: flex;
    

    padding: 10px;
    border-radius: var(--border-radius);
}

.features {
    box-shadow: var(--box-shadow);
    background-color: var(--color-bg);
}

.skills {
    background-color: var(--color-accent-secondary-2);
}

h1 {
    color: var(--color-accent-hover);
}

button {
    font-family: inherit;
    cursor: pointer;
}

.header-button {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background: transparent;
    
    overflow: hidden;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
}

.header-button svg {
    object-fit: contain;
}

.language-short {
    font-size: 20px;
}