html, body {
    background-color: var(--color-bg-alt);
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 100;
    font-size: 3vh;
    color: var(--color-text-primary);
}

html {
    overflow-x: clip;
}


main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    &:hover {
        color: var(--color-accent-hover);
    }
}
h1, h2, h3, div {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    font-size: 5vh;
    min-height: 1.2em; 
}

h2 {
    font-size: 3vh;
}
h3 {
    font-size: 4vh;
    font-weight: 700;
    color: var(--color-accent-secondary);
}

@media (min-width: 769px) {
    main {
        padding: 30px;
    }

    html {
        font-size: 2.5vh;
    }
    
}