html, body {
    background-color: var(--color-bg-alt);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 100;
    font-size: 2.5vh;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-weight: 500;
}