.hero {
    display: flex;
    width: 100%;
    height: auto;
    background: transparent;
    gap: 0px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    border-radius: var(--border-radius);
    gap: 20px;
    padding: 20px;
}

.features {
    background-color: var(--color-accent-secondary);
    flex: 3;
    border-top-right-radius: 65px 175px;
    border-bottom-right-radius: 10px 20px;
    align-items: flex-start;
    color: var(--color-text-primary);
}

.block-right {
    background-color: var(--color-accent-secondary);
    flex: 2;
    align-items: flex-end;
}

@media (min-width: 769px) {
    .features {
        clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% 100%, 0% 100%);
    }

    .block-right {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50px 100%);
        border-top-left-radius: 10px 20px;
        border-bottom-left-radius: 65px 175px;
    }
}