:root {
    --color-bg: #F4F1E8;
    --color-bg-alt: #dedcd5;
    --color-text-primary: #2A2C28; 
    --color-text-secondary: #5B5E56;
    --color-accent: #a5724c;
    --color-accent-hover: #9D6241;
    --color-accent-secondary: #6d795d;
    --color-accent-secondary-1: #343b2a;
    --color-accent-secondary-2: #9aa788;
    --color-border: #E2DDD2;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --border-radius: 12px;

    --border-radius: 10px;
}

.dark-theme {
    --color-bg: #12140F;
    --color-bg-alt: #262c25;
    --color-text-primary: #cac5b7;
    --color-text-secondary: #9b9990;
    
    /* Приглушённая терракота – темнее, не яркая */
    --color-accent: #8B5A3C;
    --color-accent-hover: #7A4F33;
    
    /* Тёмный оливковый (зелёный акцент) – глубокий, не светлый */
    --color-accent-secondary: #5e6e51;
    
    /* Ещё более тёмный для второстепенных элементов */
    --color-accent-secondary-1: #9cac90;
    
    /* Светлее, но всё ещё приглушённо – для фоновых акцентов */
    --color-accent-secondary-2: #2d3d26;
    
    --color-border: #2C3126;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}